#cardapio{

  .overlay_circle {
    content: " ";
    width: 5rem;
    height: 5rem;
    background: #000;
    border-radius: 100%;
    position: absolute;
    top: -1.25rem;
    left: calc(50% - 2.9rem);
  }

  .odd {
    margin-top: 20px;
    background: #000;
    position: relative;
    &:after{
      @extend .overlay_circle;
    }
  }

  .even {
    margin-top: 20px;
    background: #303030;
    position: relative;
    &:after{
      @extend .overlay_circle;
      background: #303030;
      top: -2.25rem;
    }
  }
}
