@import '../libs/colors.scss';
@import '../libs/measures.scss';

div#contact {

    margin: 20px;

    h5{
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
    }

    a{
        width:190px;
        font-size: 20px;
        line-height: 36px;
        padding: 13px;
        background: #555555;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        text-align: center;

        img{
            max-width: 26px;
            float:left;
            margin: 5px 10px 0 6px;
        }

        &:hover{
            background: grey;
            color: black;
        }
    }

    .ifood{
        img{
            max-width: 63px;
        }
    }

    .spaced{
        @media (max-width:$flex-sm){
            margin-top: 30px!important;
        }
    }

}
