.post {
  padding: 0;
  height: 100%;
  scroll-snap-align: start;
}

.stick {
  background-attachment: fixed;
}

.right-display {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  .text {
    letter-spacing: -0.08em;
    font-size: 5.6em;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.99);
    padding-right: 10%;
    line-height: 0.8;

    @media (max-width: $flex-sm) {
      display: none;
    }

    @media (max-width: $flex-hd - 1) {
      font-size: 3em;
    }
  }
}

#post0 {
  background-image: url("../images/home/banner-burguer-m.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;

  @media (max-width: $flex-sm) {
    background-size: cover;
  }

  @media (min-width: $flex-sm) {
    background-image: url("../images/home/banner-burguer.jpg");
  }

  .title {
    color: #cfff4290;
  }

  .description {
    color: #FFFFFF60;
  }
}

#post-acai {
  position: relative;
  background-image: url("../images/home/banner-acai-m.jpg");
  background-size: contain;
  background-position-y: center;
  background-repeat: no-repeat;

  @media (max-width: $flex-sm) {
    background-size: cover;
  }

  @media (min-width: $flex-sm) {
    background-image: url("../images/home/banner-acai.jpg");
  }

  .title {
    color: #683a7b;
  }

  .description {
    color: #FFFFFF60;
  }
}

#post-dogs {
  position: relative;
  background-image: url("../images/home/banner-dogs.jpg");
  background-size: contain;
  background-position-y: center;
  background-repeat: no-repeat;

  @media (max-width: $flex-sm) {
    background-size: cover;
  }

  .title {
    color: #f5a13f;
  }

  .description {
    color: #FFFFFF60;
  }

}

.cards {
  padding: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-image: url("../images/home/banner.jpg");
  background-size: cover;

  .clickable {
    height: fit-content;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
}

.card-mobile {
  @media (min-width: $flex-sm) {
    display: none;
  }
}

#post-cards {
  @media (max-width: $flex-sm) {
    display: none;
  }
}

#post-fidelidade {
  position: relative;
  background-image: url("../images/home/post3.jpg");
  background-size: cover;

  @media (max-width: $flex-md){
    height: calc(160vh);
  }

  .footer-display {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: black;
    opacity: 0.8;
    padding: 40px 2em 2em 2em;

    .title {
      color: #cfff42;
      font-size: 2.4em;
      @media (max-width: $flex-md){
        font-size: 1.4em;
      }
    }

    .description {
      font-size: 1.4em;
      @media (max-width: $flex-md){
        font-size: 1.2em;
      }
    }

    .call-to-action {
      color: #ec6937;
      font-size: 1.6em;
    }
  }
}
