@use '../../styles/variables.scss' as *;
@use '../../styles/mixins/responsiveness.scss' as *;

#post-about {
  height: 100dvh;
  width: 100%;
  

  .wrapper {
    height: calc(100% - $footer-height);
    

    .left-display {
      display: flex;
      justify-content: center; 
      align-items: center;
    }

    .right-display {
      padding-top: $header-height + 30px;      
    }

  }
}