<div class="header">
  <div class="header__logo noselect">
    <a alt="BarcaBurguer Logo Image" >
      <img src="images/uis/Logo_BarcaBurguer_degrade.svg" alt="Barca Burguer"/>
    </a>
  </div>

  <div class="header__social noselect" >
    <div class="insta-page">
      <a ng-href="https://www.instagram.com/barcaburguersp/" target="_BLANK" rel="noopener noreferrer">
        <img src="images/socials/ico_instagram.svg" />
      </a>
    </div>

    <div class="fb-page">
      <div class="fb-page__logo">
        <a ng-href="https://www.facebook.com/abarcaburguer" target="_BLANK" rel="noopener noreferrer">
          <img src="images/socials/ico_facebook.svg" />
        </a>
      </div>

      <div
        class="fb-like fb-page__like"
        data-href="https://www.facebook.com/abarcaburguer"
        data-layout="button_count"
        data-action="like"
        data-size="small"
        data-show-faces="true"
        data-share="false"
        hide-sm hide-xs
      ></div>

    </div>
  </div>
</div>
