<md-toolbar id="header" layout="column" hide-gt-md="">
  <div id="menu-row" layout="row">
    <h1 class="md-toolbar-tools noselect" layout-align-gt-sm="left" >
      <a alt="Home" ng-click="blowOnClick();" ><img src="images/uis/Logo_BarcaBurguer_degrade.svg" alt="Barca Burguer"/></a>
    </h1>

    <div id="social-links" class="noselect" >
      <div hide-sm hide-xs class="fb-like" data-href="https://www.facebook.com/abarcaburguer" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      <div hide-md hide-gt-md class="fb-like" data-href="https://www.facebook.com/abarcaburguer" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
      <div class="fb-page"><a ng-href="https://www.facebook.com/abarcaburguer" target="_BLANK" ><img src="images/socials/ico_facebook.svg"  /></a></div>
    </div>
  </div>
</md-toolbar>

<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="leftMenu" >
  <md-list layout="column" layout-align="space-around right" >

    <md-item ng-repeat="item in leftMenuList"  >
      <md-button ng-click="menuClick(item, $event)" target="{{item.target}}" ng-class="{'selected' : item === selected }" md-swipe-left="swipeLeftMenu()" >
        <div class="md-item-container"  >
          <img ng-src="{{item.imgsrc}}" class="{{ item.class }}" alt="{{item.alt}}" />
          <div class="md-list-item-text">{{item.label}}</div>
        </div>
      </md-button>
    </md-item>

  </md-list>
</md-sidenav>
