<md-toolbar id="header" layout="column">

    <div id="menu-row" layout="row">

        <button ng-click="toggleSidenav('leftMenu')" class="menuBtn right noselect" >
            <span class="visually-hidden noselect">Menu</span>
        </button>

        <div id="menu-splitter" ></div>

        <h1 class="md-toolbar-tools noselect" layout-align-gt-sm="left" >
            <a alt="Home" ng-click="blowOnClick();" ><img src="images/uis/Logo_BarcaBurguer_degrade.svg" alt="Barca Burguer"/></a>
        </h1>

        <div id="social-links" class="noselect" >
            <div><a ng-href="https://www.facebook.com/abarcaburguer" target="_BLANK" ><img src="images/socials/ico_facebook.svg"  /></a></div>
        </div>

    </div>

    <div id="timeline-row" ng-if="workSwitcherVisibility" class="work-switcher-animation" >

        <div layout style="margin: 0 15px 15px;" >
            <div flex="10" flex-xs="15" layout layout-align="center center" >
                <span class="md-thumb-label" ng-bind="yearSlider" ></span>
            </div>
            <md-slider flex  class="md-primary md-hue-7" md-discrete ng-model="$parent.yearSlider" step="1" min="{{ FIRST_YEAR }}" max="{{ LAST_YEAR }}" aria-label="rating" ></md-slider>
        </div>

    </div>

    <div id="background-row" class="md-whiteframe-z1" md-parallax parallax-init-val="0" parallax-ratio="2" parallax-css="opacity"  parallax-scroller="ngview-container" ></div>

</md-toolbar>

<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="leftMenu"   >
    <md-list layout="column" layout-align="space-around right"    >

        <md-item ng-repeat="item in leftMenuList"  >
            <md-button ng-click="menuClick(item, $event)" target="{{item.target}}" ng-class="{'selected' : item === selected }" md-swipe-left="swipeLeftMenu()" >
                <div class="md-item-container"  >
                    <img ng-src="{{item.imgsrc}}" class="{{ item.class }}" alt="{{item.alt}}" />
                    <div class="md-list-item-text">{{item.label}}</div>
                </div>
            </md-button>
        </md-item>

    </md-list>
</md-sidenav>
