<md-toolbar id="header" layout="column" hide-md="" hide-sm="" hide-xs="">
  <div id="menu-row" layout="row">
    <div class="home-logo noselect">
      <a alt="Home" ng-click="blowOnClick();" ><img src="images/uis/Logo_BarcaBurguer_degrade.svg" alt="Barca Burguer"/></a>
    </div>

    <div class="desktop-menu">
      <md-content ng-controller="NavBarController" class="md-padding">
        <md-nav-bar
          md-selected-nav-item="currentNavItem"
          nav-bar-aria-label="navigation links">
          <md-nav-item md-nav-href="#!/" name="inicio">
            Início
          </md-nav-item>
          <md-nav-item md-nav-href="#!/cardapio" name="cardapio">
            Cardápio
          </md-nav-item>
          <md-nav-item md-nav-href="#!/acai" name="acai">
            Açaí
          </md-nav-item>
          <md-nav-item md-nav-href="#!/contato" name="contato" >
            Contato
          </md-nav-item>
        </md-nav-bar>
      </md-content>
    </div>

    <div id="social-links" class="noselect" >
      <div hide-sm hide-xs class="fb-like" data-href="https://www.facebook.com/abarcaburguer" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      <div hide-md hide-gt-md class="fb-like" data-href="https://www.facebook.com/abarcaburguer" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
      <div class="fb-page"><a ng-href="https://www.facebook.com/abarcaburguer" target="_BLANK" ><img src="images/socials/ico_facebook.svg"  /></a></div>
    </div>

  </div>
</md-toolbar>
