@import 'libs/browsehappy';
@import 'libs/measures';
@import 'libs/colors';
@import 'libs/animations';

html {
  height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 0.3px;
  background-color: $bg-black;
  font-size: 100%;
  line-height: 1.5;

  @import 'assets/menu-top.scss';

  div#ngview {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    @import 'views/home';
  }

  @import 'assets/footer';
}

@import 'libs/materialExtensions';
@import 'libs/clickable.directive';
