@import 'libs/browsehappy';
@import 'libs/measures';
@import 'libs/colors';
@import 'libs/animations';

body {

    font-family: 'PT Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 0.3px;
    overflow-y: hidden;
    background-color: $white;
    font-size: 100%;
    line-height: 1.5;

    @import 'assets/menu-top.scss';

    md-content#ngview-container{

        div#ngview {
            @import 'views/contact';
        }

        @import 'assets/footer';

    }

}

@import 'libs/materialExtensions';
@import 'libs/content_pusher';
