@import 'libs/browsehappy';
@import 'libs/measures';
@import 'libs/colors';
@import 'libs/animations';
@import 'directives/product';

body {

  font-family: 'PT Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 0.3px;
  overflow-y: hidden;
  background-color: $white;
  font-size: 100%;
  line-height: 1.5;

  @import 'assets/menu-top.scss';

  md-content#ngview-container{
    div#ngview {
      @import 'views/home';
      @import 'views/contact';
      @import 'views/cardapio';
    }
  }
  @import 'assets/footer';
}

@import 'libs/materialExtensions';
@import 'libs/clickable.directive';
