@use '../../styles/variables.scss' as *;
@use '../../styles/button.scss' as *;
@use '../../styles/mixins/responsiveness.scss' as *;


#post-landing {
  position: relative;
  padding: 0;
  scroll-snap-align: center;
  height: 100%;
  background-image: url("/images/home/hearts.svg");
  background-size: 125%;
  background-position: right;

  .bg-base {
    background-image: url("/images/home/banner-landing.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include desktop() {
      background-position-x: unset;
    }

    .right-display {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      text-transform: uppercase;
      text-shadow: none;

      @include desktop() {
        max-width: 40%;
        align-items: start;
        justify-content: center;
      }

      .button-wrapper {
        padding: 1.2rem;
        color: $black;
        font-weight: bolder;
        text-align: center;
        width: max-content;
        margin-bottom: 50px;

        #button-scroll-down {
          .button_top {
            img {
              width: auto;
              height: 20px;
              margin-left: -0.3em;
              margin-top: -6px;
              vertical-align: middle;
              filter: brightness(0) invert(1);
              opacity: 0.8;
            }
          }
        }
      }
    }    
  }
}