@use '../../styles/variables.scss' as *;
@use '../../styles/button.scss' as *;
@use '../../styles/mixins/responsiveness.scss' as *;


#post-landing {
  .wrapper {
    background-image: url("/images/home/banner-landing.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include desktop() {
      background-position-x: unset;
    }

    .button-wrapper {
      padding: 1.2rem;
      color: $black;
      font-weight: bolder;
      text-align: center;
      width: 100%;
      margin-bottom: 50px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      gap: 20px;

      @include desktop() {
        margin-bottom: 0;
        padding: 0 350px
      }

      #button-scroll-down-burger {
        align-self: flex-start;
        .button_top {
          img {
            width: auto;
            height: 20px;
            margin-left: -0.3em;
            margin-top: -6px;
            vertical-align: middle;
            filter:  hue-rotate(90deg) contrast(0.23) brightness(0.8) ;
            opacity: 0.8;
          }
        }
      }

      #button-scroll-down-acai {
        .button_top {
          img {
            width: auto;
            height: 20px;
            margin-left: -0.3em;
            margin-top: -6px;
            vertical-align: middle;
            filter: brightness(0) invert(1);
            opacity: 0.8;
          }
        }
      }
    }

    .right-display {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      text-transform: uppercase;
      text-shadow: none;
      background-image: none;

      @include desktop() {
        max-width: 40%;
        align-items: start;
        justify-content: center;
      }

      

      
    }    
  }
}