@use '../../styles/variables.scss' as *;
@use '../../styles/animations/jello.scss' as *;
@use '../../styles/mixins/responsiveness.scss' as *;

$item-size: 253px;

#post-burger {
  
  .wrapper {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;

    @include desktop() {
      padding-left: 0;
      gap: 10%;
    }
  }

  .item {
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position-x: 50px;
    background-position-y: center;
    width: $item-size;
    height: $item-size;
    transition: height 0.3s ease-in-out;
    background-color: $card-black;
    border-radius: 10px;
    border: 1px solid $card-black;
    cursor: pointer;

    &:hover{
      -webkit-animation-name: jello;
      -moz-animation-name: jello;
      -ms-animation-name: jello;
      -o-animation-name: jello;
      animation-name: jello;
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      -ms-animation-duration: 1s;
      -o-animation-duration: 1s;
      animation-duration: 1s;
    }

    .item-title {
      color: $bb_grey;
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;      
      background-color: #202020;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      transform-origin: center;
      transform-box: fill-box;
      height: $item-size;
      padding: 10px;
      border-radius: 0 10px 10px 0;
      text-transform: uppercase;
      word-spacing: 0.3em;
      letter-spacing: 0.05em;
    }

    .item-overlay {
      position: relative;
      width: 100%;
      height: 0;
      margin: 0 auto;
      opacity: 0;
      color: $black;
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;
      line-height: 1.5;
      
      padding: 10%;
      visibility: hidden;
      font-size: 0.9rem;
      transition: height 0.3s ease-in-out;

      &--active {
        opacity: 1;
        visibility: visible;
        padding-top: 250px;
        height: 500px;
        transition: height 0.3s ease-in-out;
      }
    }

    &--active {
      background-color: $white;
      height: 450px;
      transition: height 0.3s ease-in-out;
      border: 1px solid $white;
      border-radius: 10px;
    }
  }

  .burger-item-1 {
    background-image: url('/images/home/burgers/burger-1.png');
  }

  .burger-item-2 {
    background-image: url('/images/home/burgers/burger-2.png');
  }

  .burger-item-3 {
    background-image: url('/images/home/burgers/burger-3.png');
  }

  .burger-item-4 {
    background-image: url('/images/home/burgers/burger-4.png');
  }

  .burger-item-5 {
    background-image: url('/images/home/burgers/burger-5.png');
  }

  .burger-item-6 {
    background-image: url('/images/home/burgers/burger-6.png');
  }

  .burger-item-7 {
    background-image: url('/images/home/burgers/burger-7.png');
  }

  .burger-item-8 {
    background-image: url('/images/home/burgers/burger-8.png');
  }

  .burger-item-9 {
    background-image: url('/images/home/burgers/burger-9.png');
  }

  .burger-item-10 {
    background-image: url('/images/home/burgers/burger-10.png');
  }

  .burger-item-11 {
    background-image: url('/images/home/burgers/burger-11.png'); 
  }

  .burger-item-12 {
    background-image: url('/images/home/burgers/burger-12.png');
  }
}