@use './variables' as *;

button {
  /* Variables */
  --button_radius: 0.5em;
  --button_color: #ea0ab2;
  --button_outline_color: #81036e;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 1px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.5em 0.5em;
  background: var(--button_color);
  color: rgb(247, 184, 239);
  transform: translateY(-0.3em);
  transition: transform 0.1s ease;
  font-size: 1.3em;
  word-spacing: 0.2em;
}

button:hover .button_top {
  transform: translateY(-0.39em);
}

button:active .button_top {
  transform: translateY(0);
}