@use 'variables.scss' as *;
@use 'mixins/responsiveness.scss' as *;

.content {
  height: calc(100vh);
  overflow-y: scroll;

  @include desktop() {
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: y mandatory;
  }

  .post {
    height: auto;
    width: 100%;
    position: relative;
    display: block;
  
    @include desktop() {
      flex-direction: row;
      scroll-snap-align: center;
      height: 100%;
      align-items: center;
    }

    .bg {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      z-index: 0;
      overflow: hidden;
    }
  
    .wrapper {
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      
      justify-content: space-around;
      align-items: center;

      @include desktop() {
        flex-direction: row;
      }
  
      .left-display {
        width: 100%;
        height: auto;
        order: 2;

        @include desktop() {
          order: 1;
          width: 50%;
        }
      }
  
      .right-display {
        width: 50%;
        height: auto;
        position: relative;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        background-image: radial-gradient(ellipse at center, $black 0%, rgba(0,0,0,0) 80%);
        background-repeat: no-repeat;
        background-size: contain;
        order: 1;
        padding: $header-height + 10px 20px;  

        @include desktop() {
          justify-content: center;
          align-items: start;
          width: 50%;
          order: 2;
        }
  
        .text, .description {
          width: auto;

          @include desktop() {
            width: auto;
          }

        }
  
        .text {
          letter-spacing: -0.01em;
          font-size: 3.6em;
          font-weight: bolder;
          line-height: 1.2;
          font-size: 3em;        

          @include desktop() {
            display: block;
          }
        }
    
        .description {
          color: #ffffffc2;
          font-size: 1.6rem;
          text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.80);

          @include desktop() {
            font-size: 2.6rem;
          }
        }
      }
    }
  }
}