@use 'reset' as *;
@use 'variables' as *;
@use 'fonts.scss' as *;
@use 'mixins/responsiveness.scss' as *;
@use 'content.scss' as content;

@use '../pages/hamburguer/hamburguer.scss' as *;
@use '../pages/tapioca/tapioca.scss' as *;
@use '../pages/acai/acai.scss' as *;
@use '../pages/landing/landing.scss' as *;
@use '../pages/cards/cards.scss' as *;
@use '../pages/about/about.scss' as *;
@use '../pages/bolo/bolo.scss' as *;
@use '../pages/morango/morango.scss' as *;
@use '../pages/fondue/fondue.scss' as *;

@use '../modules/header/header.scss' as header;
@use '../modules/side-nav/side-nav.scss' as sideNav;
@use '../modules/footer/footer.scss' as footer;
@use '../modules/clickable-cards/clickable.scss' as clickableCards;
@use '../modules/heart-generator/heart-generator.scss' as heartGenerator;
@use '../styles/animations/heart-beat.scss' as heartBeat;

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
  background-color: $bb-absolute-black;
  font-size: 12px;
  line-height: 1.5;

  @include desktop() {
    font-size: 1vw;
  }

  .wrapper {
    display: block;
  }
}

.tippy-content {
  color: $white;
  font-size: 1.2em;
}

.tippy-box {
  background-color: #000000 !important;
  padding: 2em;
  border-radius: 10px !important;
}

.debug {
  box-shadow: #4bf302 0 0 30px 0 inset;
}

.debug2 {
  box-shadow: #ef03c0 0 0 30px 0 inset;
}