$flex-xs: 320px;
$flex-sm: 600px;
$flex-md: 960px;
$flex-lg: 1200px;
$flex-hd: 1920px;

$header-height: 60px;
$footer-height: 200px;

$bg-black: rgba(0, 0, 0, 0.57);
$card-black: #313131;
$white: #f6f6f6;
$black: #333333;
$discret-black: #666666;
$bb_grey: #999999;
$bb_purple: #7f3f98;
$bb_green: #9ccb3c;
$bb_orange: #ff7a00;
$bb_pink: #f7038d;
$bb_red: #bd0222;