@import '../libs/colors';
@import '../libs/measures';

footer {
  background: rgba(0, 0, 0, 0.87);
  color: $white;
  font-size: 11px;
  -webkit-box-shadow: -1px 1px 8px 1px rgba(0,0,0,0);
  box-shadow: -1px 1px 8px 1px rgb(0, 0, 0);
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;

  .whatsapp {
    a {
      line-height: 26px;
      font-size: 20px;
      img {
        max-width: 26px;
        float:left;
        margin-right: 9px;
      }
    }
  }

  .ifood {
    img {
      width: 60px;
    }
  }
}

