.header {
  min-width: 320px;
  width: 100%;
  color: $black;
  background-color: transparent;
  height: 60px;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;

  @media (max-width: $flex-sm) {
    justify-content: space-between;
    background: #151515;
  }

  &__logo {
    width: 160px;
    background: #151515;
    height: 66px;
    padding: 26px;
    margin-left: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    @media (max-width: $flex-sm) {
      height: 30px;
      padding: 10px 15px 50px 15px;
    }
  }

  &__social {
    display: flex;
    justify-content: space-around;
    width: 260px;
    margin: 0;
    position: relative;

    @media (max-width: $flex-sm) {
      width: 90px;
    }

    .insta-page {
      width: 26px;
      margin-top: 18px;
      @media (max-width: $flex-sm) {
        margin-top: 15px;
      }
    }

    .fb-page {
      display: flex;
      &__logo {
        width: 26px;
        margin-top: 18px;
        @media (max-width: $flex-sm) {
          margin-top: 15px;
        }
      }

      &__like {
        margin-top: 20px;
      }
    }
  }
}
