@use '../../styles/variables.scss' as *;
@use '../../styles/mixins/responsiveness.scss' as *;

.header {
  min-width: 320px;
  width: 100%;
  height: $header-height;
  color: $white;
  background-color: $bg-black;
  z-index: 150;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;

  position: fixed;
  top: 0;
  left: 0;

  background: linear-gradient(to bottom, #1a1a1a, rgba(0, 0, 0, 0));
  padding: 15px;  

  @include desktop() {
    height: $header-height-desktop;    
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: auto;
    cursor: pointer;
    background-color: $bb-absolute-black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }

    img {
      width: 100%;
      height: auto;
    }

    @include desktop() {
      width: 150px;
      padding: 10px;
    }

    @include large_desktop() {
      width: 200px;
      padding: 20px;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin-right: 10px;

    &__social {
      display: flex;
      gap: 10px;
      justify-content: space-around;
      align-items: self-start;
      width: auto;
      position: relative;
  
      @media screen and (min-width: 3000px) {
        align-items: normal;
      }
  
      .insta-page {
        width: 22px;
        height: 22px;
        margin-right: 10px;
  
        @include large_desktop() {
          width: 28px;
          height: 28px;
        }
  
        a {
          display: block;
          width: 100%;
          height: 100%;
  
          transition: filter 0.3s ease, transform 0.3s ease;
          filter: brightness(1) contrast(1);
  
          &:hover {
            filter: brightness(0.5) contrast(1.1);
            transform: translateY(-3px);
          }
        }
      }
  
      .fb-page {
        display: flex;
  
        &__logo {
          width: 22px;
          height: 22px;
          margin-right: 10px;
  
          @include large_desktop() {
            width: 28px;
            height: 28px;
          }
  
          a {
            display: block;
            width: 100%;
            height: 100%;
            transition: filter 0.3s ease, transform 0.3s ease;
            filter: brightness(1) contrast(1);
  
            &:hover {
              filter: brightness(0.5) contrast(1.1);
              transform: translateY(-3px);
            }
          }
        }
      }
    }

    &__side-nav {
      width: fit-content;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.303); ;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease;
      margin: 0 0 0 20px;

      @include desktop() {
        margin: 0 0 0 5px;
      }
    }
  }
}

/* Hide header when loading */
.loading .header {
  display: none;
}