@use '../../styles/variables.scss' as *;
@use '../../styles/mixins/responsiveness.scss' as *;

.header {
  min-width: 320px;
  width: 100%;
  height: $header-height - 60px;
  color: $white;
  background-color: $bg-black;
  z-index: 150;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #333333ed 60%, rgba(0, 0, 0, 0));
  padding: 15px;

  @include desktop() {
    height: $header-height;
    background: linear-gradient(to bottom, #333333, rgba(0, 0, 0, 0));
  }

  &__logo {
    width: 140px;
    height: auto;

    img {
      width: 80%;
      height: auto;
    }

    @include desktop() {
      width: 100px;
      border-bottom-right-radius: 10px;
      height: 70px;

      img {
        margin-top: 10px;
      }
    }

    @include large_desktop() {
      width: 220px;
      height: 110px;
    }
  }

  &__social {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: self-start;
    width: auto;
    position: relative;

    @media screen and (min-width: 3000px) {
      align-items: normal;
    }

    .insta-page {
      width: 22px;
      height: 22px;

      @include large_desktop() {
        width: 28px;
        height: 28px;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;

        transition: filter 0.3s ease, transform 0.3s ease;
        filter: brightness(1) contrast(1);

        &:hover {
          filter: brightness(0.5) contrast(1.1);
          transform: translateY(-3px);
        }
      }
    }

    .fb-page {
      display: flex;

      &__logo {
        width: 22px;
        height: 22px;

        @include large_desktop() {
          width: 28px;
          height: 28px;
        }
        

        a {
          display: block;
          width: 100%;
          height: 100%;
          transition: filter 0.3s ease, transform 0.3s ease;
          filter: brightness(1) contrast(1);

          &:hover {
          filter: brightness(0.5) contrast(1.1);
          transform: translateY(-3px);
        }
        }
      }

      &__like {
        height: 28px;
        width: 140px!important;
        display: none;

        @include desktop() {
          display: block;
        }

        span {
          color: $white;
          padding-top: 4px;
          width: 100px!important;
          height: 38px!important;
          vertical-align: middle!important;

          @include desktop() {
            width: 170px!important;
          }
        }

      }
    }
  }
}

/* Hide header when loading */
.loading .header {
  display: none;
}