@use '../../styles/variables.scss' as *;
@use '../../styles/mixins/responsiveness.scss' as *;

#post-cards {
  padding: 2em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  --clickable-count: 5; /* Default count, can be updated by JS */

  @include desktop() {
    flex-direction: row;
  }

  .clickable {
    height: fit-content;
    background: $white;
    width: calc((100% - (var(--clickable-count) * 2em)) / var(--clickable-count));
    position: relative;
    z-index: 1;

    .img {
      overflow: hidden;
      width: 100%;
      height: auto;

      @include tablet_portrait() {
        width: 10vw;
        height: 10vw;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .label {
      text-align: center;
      font-size: 1em;
      font-weight: bolder;
      padding: 0.3em;
      color: $black;
      display: none;

      @include desktop() {
        display: block;
      }
    }
  }
}