@use '../../styles/variables.scss' as *;
@use '../../styles/mixins/responsiveness.scss' as *;

#post-cards {
  padding-top: $header-height + 30px;;
  padding-left: 6em;
  padding-right: 6em;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  --clickable-count: 5; /* Default count, can be updated by JS */

  @include desktop() {
    padding: 3rem;
    flex-direction: row;
    height: 100dvh;
  }

  .clickable {
    height: 180px;
    width: 180px;
     position: relative;
    z-index: 1;

    @include desktop() {
      width: 280px;
      height: 280px;
      
    }

    @include tablet() {
      width: 180px;
      height: 180px;
    }

    .img {
      width: 100%;
      height: 100%;
      z-index: 1;
      position: relative; 

      img {
        width: 100%;
        height: auto;
      }
    }

    .label {
      background: $white;
      text-align: center;
      font-size: 1em;
      font-weight: bolder;
      color: $black;
      display: none;
    }
  }
}