<div id="cardapio">
  <md-content>
    <product container-class="even" type="'hamburguer'" title="Hambúrguer Artesanal" item-data="hamburgers" ></product>
    <product container-class="odd" type="'hotdog'" title="Hot Dogs" item-data="hotdogs" ></product>
    <product container-class="even" type="'acai'" title="Açaí" item-data="acai" ></product>
    <product container-class="odd" type="'tapioca'" title="Tapiocas" item-data="tapiocas" ></product>
    <product container-class="even" type="'porcoes'" title="Porções" item-data="porcoes" ></product>
    <product container-class="odd" type="'bebidas'" title="Bebidas" item-data="bebidas" ></product>
    <product container-class="even" type="'sobremesas'" title="Sobremesas" item-data="sobremesas" ></product>
  </md-content>
</div>
