<div id="contact" class="md-padding" >
  <div layout="column" layout-align="space-around space-around" flex>
    <div class="spaced" layout="column"  >
      <a target="_BLANK" href="https://api.whatsapp.com/send?phone=5511991405067&text=Pedido%20Barca%20Burguer"><img src="images/contact/whatsapp-logo.png" alt="Whatsapp"  /> 11 9 9140-5067</a>
    </div>
    <div class="spaced ifood" layout="column"  >
      <a target="_BLANK" href="https://www.ifood.com.br/delivery/sao-paulo-sp/barca-burguer-vila-santista"><img src="images/socials/ico_ifood.svg" alt="iFood"  /> Pedidos</a>
    </div>
  </div>
</div>
