<div id="home"  >

    <div layout="row"  layout-wrap layout-align-sm="center space-around" >

        <md-card  class="no-select no-pointer" flex  >
            <md-card-content>
                <p> Novidades a caminho.</p>
            </md-card-content>
        </md-card>

        <md-card class="no-select no-pointer" flex  >
            <md-card-content>
                <p> Novidades a caminho. </p>
            </md-card-content>
        </md-card>

        <div layout-margin flex hide-xs></div>

    </div>

</div>
