<div id="post0" class="post">
  <div class="right-display">
    <div class="text title noselect">Hambúrguer de verdade,</div>
    <div class="text description noselect">na comodidade da sua casa.</div>
  </div>
</div>

<div id="post-acai" class="post">
  <div class="right-display">
    <div class="text title noselect">Açaí de primeira</div>
    <div class="text description noselect">e bem acompanhado.</div>
  </div>
</div>

<div id="post-dogs" class="post">
  <div class="right-display">
    <div class="text title noselect">Hot Dog no capricho,</div>
    <div class="text description noselect">como você escolher.</div>
  </div>
</div>

<div id="post-cards" class="post cards" >
  <md-card class="no-select" clickable clickable-target="_blank" clickable-url="https://www.ifood.com.br/delivery/sao-paulo-sp/barca-burguer-vila-santista/24bca817-2e63-4af0-a6e4-d734f6051bf1"  >
    <img src="images/home/destaque_ifood.jpg" alt="Agora no iFood" class="md-card-image" >
    <md-card-content>
      <p> Faça já seu pedido pelo iFood.</p>
    </md-card-content>
  </md-card>

  <md-card class="no-select" clickable clickable-target="_blank" clickable-url="https://wa.me/c/5511991405067" >
    <img src="images/home/destaque_cardapio.jpg" alt="Nosso Cardápio" class="md-card-image" >
    <md-card-content>
      <p> Consulte o cardápio via Whatsapp.</p>
    </md-card-content>
  </md-card>

  <md-card class="no-select" clickable clickable-target="_blank"  clickable-url="https://wa.me/c/5511991405067" >
    <img src="images/home/destaque_acai.jpg" alt="Açaí" class="md-card-image" >
    <md-card-content>
      <p>Peça o melhor açai.</p>
    </md-card-content>
  </md-card>
</div>


<div class="post cards card-mobile">
  <md-card class="no-select" clickable clickable-target="_blank" clickable-url="https://www.ifood.com.br/delivery/sao-paulo-sp/barca-burguer-vila-santista/24bca817-2e63-4af0-a6e4-d734f6051bf1"  >
    <img src="images/home/destaque_ifood.jpg" alt="Agora no iFood" class="md-card-image" >
    <md-card-content>
      <p> Faça já seu pedido pelo iFood.</p>
    </md-card-content>
  </md-card>
</div>

<div class="post cards card-mobile">
  <md-card class="no-select" clickable clickable-target="_blank" clickable-url="https://wa.me/c/5511991405067" >
    <img src="images/home/destaque_cardapio.jpg" alt="Nosso Cardápio" class="md-card-image" >
    <md-card-content>
      <p> Ou consulte o cardápio via Whatsapp.</p>
    </md-card-content>
  </md-card>
</div>
