<div id="home"  >

    <div layout="row"  layout-wrap layout-align-sm="center space-around" >

        <md-card  class="no-select no-pointer" flex  >
            <img src="images/work/2017/index/uol.jpg" class="md-card-image" >
            <md-card-content>
                <p> Back to UOl, back to Brazil.</p>
            </md-card-content>
        </md-card>

        <md-card class="no-select no-pointer" flex  >
            <img src="images/work/2017/index/am.jpg" class="md-card-image" >
            <md-card-content>
                <p> Auction Mobility bought Lofty.com, and we rebuilt 70% of the code to deal with auctions instead of market places.</p>
            </md-card-content>
        </md-card>

        <div layout-margin flex hide-xs></div>

    </div>

</div>
