<div id="cardapio"  >

  <md-content>
    <md-list flex>
      <md-subheader class="md-no-sticky">Lanches</md-subheader>
      <md-list-item class="md-2-line" ng-repeat="item in productList" ng-click="null">
        <img ng-src="{{item.images[0]}}" class="md-avatar" />
        <div class="md-list-item-text">
          <h3>{{item.name}}</h3>
          <p>{{item.description}}</p>
          <p>R$ {{item.price.toFixed(2)}}</p>
        </div>
        <md-divider ></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>
